<h4><%= t('.title') %> "<%= @speciality.name %>"</h4>
<% if @speciality.description.present? %>
    (<%= @speciality.description %>)
<% end %>

<% if @doctors.present? %>
    <% @doctors.each do |doctor| %>
        <%= render 'doctors/doctor', doctor: doctor %>
    <% end %>
<% else %>
    <p class="fw-semibold text-danger"><%= t('.doctors_empty') %></p>
<% end %>