<h4><%= t('.title') %> "<%= @speciality.name %>"</h4>
<% if @speciality.description.present? %>
    (<%= @speciality.description %>)
<% end %>

<% if @doctors.present? %>
    <div class="row">
        <% @doctors.each do |doctor| %>
            <%= render 'doctors/doctor', doctor: doctor %>
        <% end %>
    </div>
<% else %>
    <p class="fw-semibold text-danger"><%= t('.doctors_empty') %></p>
<% end %>

<% if @pagy.pages > 1 %>
    <div class="d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
<% end %>