<%= form_with(model: user) do |form| %>
    <%= render 'shared/form_errors_messages', object: form.object %>

    <div class="row g-3">
        <div class="accordion pb-3" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <%= t('.phone_change') %>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <%= form.label :phone, t('.phone') %>
                        <%= form.telephone_field :phone %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <%= form.label :role, t('.role'), style: "display: block" %>
            <%= form.select :role, User.roles.keys.map{ |key| [User.human_enum_name(:role, key), key] }, {:selected => form.object.role}, {:class => "form-select"} %>
        </div>

        <div>
            <%= form.button nil, class: "btn btn-outline-success" do %>
                <%= t('button.submit') %>
            <% end %>
        </div>
    </div>

<% end %>