<h4><%= t('.title') %></h4>

<div class="text-end pb-2">
    <%= form_tag(users_search_path, :method => "get") do %>
        <%= label_tag(:phone, t('.search_label')) %>
        <%= text_field_tag(:phone, nil, placeholder: t('.search_placeholder')) %>
        <%= button_tag(t('button.search'), type: "submit", :name => nil, class: "btn btn-outline-primary") %>
    <% end %>
</div>

<% @users.each do |user| %>
    <%= render user %>
<% end %>

<% if @pagy.pages > 1 %>
    <div class="d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
    <div class="d-flex justify-content-center">
        <%== pagy_info(@pagy) %>
    </div>
<% end %>