<h4><%= t('.title') %> "<%= @search_params %>" </h4>

<% if @users.present? %>
    <% @users.each do |user| %>
        <%= render user %>
    <% end %>
<% else %>
    <p class="fw-semibold text-danger"><%= t('.search_empty') %></p>
<% end %>

<% if @pagy.pages > 1 %>
    <div class="d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) > 1 %>
    </div>
    <div class="d-flex justify-content-center">
        <%== pagy_info(@pagy) %>
    </div>
<% end %>