<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <%= link_to t('appname'), root_path, class: "navbar-brand text-wrap" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to t('navigation.personal_cards'), personal_cards_path, class: "nav-link active" %>
            </li>
          <% end %>

          <li class="nav-item">
            <%= link_to t('navigation.reviews'), reviews_path, class: "nav-link active" %>
          </li>

          <li class="nav-item">
            <%= link_to t('navigation.medical_card'), reviews_medical_card_path, :method => :get, class: "nav-link active" %>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to  t('navigation.specialities'), specialities_path, class: "nav-link active" %>
        </li>

        <li class="nav-item">
          <%= link_to t('navigation.doctors'), doctors_path, class: "nav-link active" %>
        </li>

        <li class="nav-item">
            <%= link_to t('navigation.contacts'), contacts_path, class: "nav-link active" %>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if @card.blank? %>
                <%= current_user.phone %>
              <% else %>
                <%= current_user.personal_card.first_name %> <%= current_user.personal_card.last_name %>
              <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to t('navigation.edit_profile'), edit_user_registration_path, class: "dropdown-item" %></li>
              <% if @card.present? %>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to t('navigation.edit_personal_card'), edit_personal_card_path(id: current_user.personal_card.id), class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </li>
          <li class="nav-item">
            <%= button_to t('navigation.logout'), destroy_user_session_path,  method: :delete, data: { turbo_method: :delete }, class: "btn btn-outline-primary" %>
          </li>
        <% else %>
          <li class="nav-item me-1">
            <%= link_to t('navigation.sign_up'), new_user_registration_path, class: "btn btn-outline-primary me-2" %>
          </li>
          <li class="nav-item">
            <%= link_to t('navigation.login'), new_user_session_path, class: "btn btn-outline-primary" %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</nav>
