<h4><%= t('.title') %></h4>
<div class="card primary-bg-subtle mb-3" style="max-width: 18rem;">
  <div class="card-header fw-semibold fs-5">
    <%= @personal_card.last_name %><br/>
    <%= @personal_card.first_name %><br/>
    <%= @personal_card.middle_name %><br/>
    <%= @personal_card.date_of_birth %>
  </div>
  <div class="card-body text-center">
    <% if can? :update, User %>
      <%= link_to t('button.show_user'), user_path(id: @personal_card.user_id), class: "btn btn-outline-primary btn-sm" %>
    <% end %>
    <%= link_to t('button.edit'), edit_personal_card_path(@personal_card), class: "btn btn-outline-success btn-sm" %>
  </div>
</div>
