<%= form_with(model: review) do |form| %>
    <%= render 'shared/form_errors_messages', object: form.object %>

    <div class="row g-3">

        <div>
            <%= form.hidden_field :doctor_id %>
        </div>

        <% if @review.review_date.blank? %>
            <div class="col-md-2">
                <%= form.label :review_date, t('.review_date'), style: "display: block" %>
                <%= form.date_field :review_date, value: Date.today, min: Date.today, max: (Date.today + 7), class: "form-control" %>
            </div>
        <% end %>

        <% if can? :update, review %>
            <div class="field">
                <%= form.label :recommendation, t('.recommendation'), style: "display: block" %>
                <%= form.rich_text_area :recommendation %>
            </div>

            <div class="fw-bold text-danger"><%= t('.close_review') %></div>
        <% end %>

        <div>
            <%= form.button nil, class: "btn btn-outline-success" do %>
                <%= t('button.submit') %>
            <% end %>
        </div>

    </div>

<% end %>
