<h4>
    <%= t('.title') %>
    <% if can? :destroy, @review %>
        <%= @review.doctor.personal_card.last_name %>
        <%= @review.doctor.personal_card.middle_name %>
        <%= @review.doctor.personal_card.first_name %>
        (<%= @review.doctor.speciality.name %>)
    <% end %>
</h4>

<% if cannot? :destroy, @review %>
    <%= t('.patient') %>
    <%= @review.user.personal_card.last_name %>
    <%= @review.user.personal_card.middle_name %>
    <%= @review.user.personal_card.first_name %>,
    (<%= I18n.l(@review.user.personal_card.date_of_birth) %>)
<% end %>

<%= render "form", review: @review %>