<h4><%= t('.title') %></h4>
<div>
    <%= t('.review_date') %> <%= I18n.l(@review.review_date, format: :long) %>
</div>

<% if current_user.id != @review.user.id %>
    <div>
        <%= t('.patient') %>
        <%= @review.user.personal_card.last_name %>
        <%= @review.user.personal_card.first_name %>
        <%= @review.user.personal_card.middle_name %>
        (<%= I18n.l(@review.user.personal_card.date_of_birth) %>)
    </div>
<% end %>

<div>
    <%= t('.doctor') %>
    <%= @review.doctor.personal_card.last_name %>
    <%= @review.doctor.personal_card.first_name %>
    <%= @review.doctor.personal_card.middle_name %>
    (<%= @review.doctor.speciality.name %>)
</div>

<% if @review.recomendation.present? %>
    <div class="my-2">
        <%= t('.recomendation') %>
        <div class="border border-light bg-secondary-subtle rounded p-2"><%= @review.recomendation %></div>
    <div>
<% end %>

<div class="my-2"><%= link_to t('button.back'), :back, class: "btn btn-outline-primary" %></div>
